.search-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

input {
	width: 430px;
	background: white;
	padding: 10px;
	border: 1px solid rgba(52, 51, 51, 0.25);
	border-radius: 5px;
	outline: none;
	color: #1d2b3a;
	font-size: 1.2em;
	transition: border-color 0.3s;
}
input:focus {
	border-color: #49b293;
}

.search-box span {
	position: absolute;
	left: 0px;
	padding: 3px 10px;
	pointer-events: none;
	font-size: 1.2em;
	color: rgba(55, 52, 52, 0.25);
	transition: 0.5s;
}

.search-box input:valid ~ span,
.search-box input:focus ~ span {
	color: #49b293;
	transform: translateX(10px) translateY(-22px);
	font-size: 0.8em;
	background: white;
	border-left: 1px solid #49b293;
	border-right: 1px solid #49b293;
}
