:root {
	--black: #1a1a1a;
	--white: #fff;
	--green: #49b293;
}

.filter-container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.filters {
	text-align: center;
	margin-bottom: 2rem;
}

.filters * {
	display: inline-block;
}

input[type='radio'] {
	position: absolute;
	left: -9999px;
}

.filters label {
	position: relative;
	display: inline-block;
	left: 1000px;
	top: -82px;
	padding: 0.5rem 1rem;
	margin-bottom: 0.25rem;
	border-radius: 5px;
	min-width: 50px;
	line-height: normal;
	cursor: pointer;
	transition: all 0.1s;
	margin-right: 10px;
	font-size: 1.2em;
	/* font-family: 'Bebas Neue', sans-serif; */
}

.filters label:hover {
	background: var(--green);
	color: var(--white);
}

.filters label:hover,
.filters label.active {
	background: var(--green);
	color: var(--white);
}

/* Адаптивная стилизация */
@media (max-width: 1200px) {
	.filters label {
		font-size: 1em;
		left: 800px; /* изменить положение для адаптивности */
		top: -70px;
	}
}

@media (max-width: 768px) {
	.filters label {
		font-size: 0.9em;
		left: 40%; /* перейти к использованию процентного значения */
		top: -60px;
	}
}

@media (max-width: 480px) {
	.filters label {
	}
}
