:root {
	--black: #1a1a1a;
	--white: #fff;
	--green: #49b293;
}
.filter-block {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin: 12px;
}

.filters * {
	display: inline-block;
}
.filters {
	margin: 0;
	padding: 0;
}

input[type='radio'] {
	position: absolute;
	left: -9999px;
}

.filters label {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	padding: 10px;
	font-size: 1.2em;
	min-width: 55px;
	text-align: center;
}

.filters label:hover {
	background: var(--green);
	color: var(--white);
}

.filters label:hover,
.filters label.active {
	background: var(--green);
	color: var(--white);
}
