.movies {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 50px 100px 0 100px;
	margin-top: 50px;
}

.movie {
	position: relative;
	display: flex;
	cursor: pointer;
	background-color: white;
	align-items: flex-start;
	width: 45%;
	margin-bottom: 70px;
	padding: 20px;
	transition: 0.3s;
	border-radius: 5px;
	font-size: 1.4rem;
	color: #747479;
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
		0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie:hover {
	transform: scale(1.05);
}

.movie-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.movie-poster {
	position: relative;
	width: 200px;
	min-width: 200px;
	height: 300px;
	top: -60px;
	object-fit: cover;
	transition: 0.3s;
	border-radius: 5px;
	margin-right: 30px;
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
		0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie-title,
.movie-year,
.movie-plot,
.movie-ratings {
	margin: 0;
}

.movie-header {
	display: flex;
}
.movie-title {
	margin-bottom: 5px;
	font-size: 35px;
	color: #2c2c2c;
}

.movie-year {
	font-size: 18px;
	margin-left: 10px;
	margin-top: 5px;
}

.movie-ratings {
	display: flex;
	text-align: justify;
	font-size: 16px;
}

@media (max-width: 1200px) {
	.movies {
		padding: 70px;
		margin-top: 30px;
	}
	.movie {
		width: 48%;
		margin-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.movies {
		padding: 50px;
	}
	.movie {
		width: 100%;
		flex-direction: column;
		padding: 15px;
	}
	.movie-poster {
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.movie-ratings {
		top: auto;
		left: 0;
		position: relative;
		margin-top: 20px;
	}
}

@media (max-width: 480px) {
	.movies {
		padding: 20px;
	}
	.movie-title {
		font-size: 28px;
	}
	.movie-year {
		font-size: 16px;
	}
	.movie-rating {
		font-size: 12px;
	}
}
